@import "tailwindcss";

/* --- ประกาศฟอนต์ที่นี่ --- */
@font-face {
  font-family: 'Samsung SS';
  src: url('/fonts/SamsungSSHead-Regular.woff2') format('woff2');
  font-weight: normal; /* หรือ 400 */
  font-style: normal;
  font-display: swap; /* ทำให้ข้อความแสดงผลเร็วขึ้น */
}

@font-face {
  font-family: 'Samsung SS';
  src: url('/fonts/SamsungSSHead-Bold.woff2') format('woff2');
  font-weight: bold; /* หรือ 700 */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SamsungSSBodyTH';
  src: url('/fonts/SamsungSSBodyDigTH-Light.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SamsungSSBodyTH';
  src: url('/fonts/SamsungSSBodyDigTH-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* --- โค้ด Tailwind และอื่นๆ จะอยู่ต่อจากนี้ --- */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* หรือกำหนดให้ทั้งเว็บใช้ฟอนต์นี้เป็นหลัก */
body {
    font-family:  'SamsungSSBodyTH', Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6, .nav-panel li, .nav-panel , .hero-title  {
    font-family: 'Samsung SS', 'SamsungSSBodyTH', Arial, Helvetica, sans-serif !important;
}