---
// You can define props here if needed in the future
const navLinks = [
  { href: "/", text: "Home" },
  { href: "/about", text: "About" },
  {
    href: "https://courses.samsungsic-thailand.org/collections",
    text: "All Courses",
    isButton: true,
    external: true,
  },
];
---

<header class="bg-white shadow-md sticky top-0 z-50">
  <div class="container mx-auto px-6 py-4">
    <div class="flex justify-between items-center">
      <a href="/" class="text-xl font-bold text-blue-600"
        ><svg
          width="50%"
          height="50%"
          viewBox="0 0 1101 169"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          xml:space="preserve"
          xmlns:serif="http://www.serif.com/"
          style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"
        >
          <g transform="matrix(1,0,0,1,-34997.5,-61047.1)">
            <g transform="matrix(2.7195,0,0,2.29046,33615.2,59920.5)">
              <g transform="matrix(2.28059,0,0,2.70778,-2758.03,308.302)">
                <g transform="matrix(1,0,0,1,1579.14,73.7909)">
                  <path
                    d="M0,14.723L-0.355,-5.189L5.928,-5.189L5.928,19.912L-3.098,19.912L-9.373,-0.686L-9.499,-0.686L-9.151,19.912L-15.392,19.912L-15.392,-5.189L-5.971,-5.189L-0.151,14.723L0,14.723Z"
                    style="fill:rgb(41,55,149);fill-rule:nonzero;"></path>
                </g>
                <g transform="matrix(1,0,0,1,1465.01,91.6104)">
                  <path
                    d="M0,-20.659L-3.477,2.35L-10.325,2.35L-5.615,-23.009L5.667,-23.009L10.342,2.35L3.524,2.35L0.143,-20.659L0,-20.659Z"
                    style="fill:rgb(41,55,149);fill-rule:nonzero;"></path>
                </g>
                <g transform="matrix(1,0,0,1,1494.57,74.5684)">
                  <path
                    d="M0,13.425L3.143,-5.967L13.48,-5.967L14.036,19.392L7.696,19.392L7.518,-3.406L7.393,-3.406L3.154,19.392L-3.28,19.392L-7.514,-3.406L-7.661,-3.406L-7.813,19.392L-14.167,19.392L-13.605,-5.967L-3.264,-5.967L-0.131,13.425L0,13.425Z"
                    style="fill:rgb(41,55,149);fill-rule:nonzero;"></path>
                </g>
                <g transform="matrix(1,0,0,1,1444,75.9539)">
                  <path
                    d="M0,10.851C0.257,11.468 0.178,12.25 0.057,12.742C-0.152,13.577 -0.729,14.434 -2.417,14.434C-4.002,14.434 -4.977,13.528 -4.977,12.134L-4.977,9.686L-11.777,9.686L-11.777,11.645C-11.777,17.294 -7.322,19.004 -2.555,19.004C2.029,19.004 5.801,17.434 6.405,13.209C6.714,11.016 6.493,9.583 6.384,9.045C5.311,3.735 -4.307,2.155 -5.023,-0.818C-5.149,-1.33 -5.124,-1.867 -5.05,-2.151C-4.876,-2.962 -4.333,-3.86 -2.738,-3.86C-1.256,-3.86 -0.378,-2.943 -0.378,-1.552L-0.378,0.009L5.945,0.009L5.945,-1.771C5.945,-7.295 0.982,-8.153 -2.607,-8.153C-7.114,-8.153 -10.803,-6.67 -11.473,-2.544C-11.66,-1.396 -11.69,-0.382 -11.425,0.888C-10.309,6.078 -1.304,7.574 0,10.851"
                    style="fill:rgb(41,55,149);fill-rule:nonzero;"></path>
                </g>
                <g transform="matrix(1,0,0,1,1526.47,75.9918)">
                  <path
                    d="M0,10.776C0.252,11.382 0.165,12.155 0.052,12.63C-0.152,13.459 -0.727,14.313 -2.395,14.313C-3.963,14.313 -4.911,13.401 -4.911,12.039L-4.928,9.61L-11.66,9.61L-11.664,11.541C-11.664,17.149 -7.249,18.831 -2.533,18.831C2.008,18.831 5.745,17.281 6.336,13.103C6.649,10.921 6.428,9.515 6.323,8.971C5.254,3.715 -4.276,2.144 -4.988,-0.792C-5.103,-1.301 -5.076,-1.829 -5.016,-2.107C-4.828,-2.912 -4.281,-3.79 -2.716,-3.79C-1.243,-3.79 -0.382,-2.891 -0.382,-1.52L-0.382,0.029L5.888,0.029L5.888,-1.735C5.888,-7.208 0.964,-8.055 -2.586,-8.055C-7.044,-8.055 -10.704,-6.593 -11.368,-2.486C-11.542,-1.364 -11.56,-0.369 -11.299,0.903C-10.208,6.037 -1.295,7.523 0,10.776"
                    style="fill:rgb(41,55,149);fill-rule:nonzero;"></path>
                </g>
                <g transform="matrix(1,0,0,1,1547.77,73.1523)">
                  <path
                    d="M0,17.012C1.756,17.012 2.313,15.805 2.43,15.181C2.478,14.899 2.504,14.54 2.486,14.21L2.486,-4.558L8.9,-4.558L8.9,13.632C8.922,14.098 8.875,15.052 8.853,15.297C8.396,20.034 4.664,21.57 0,21.57C-4.671,21.57 -8.413,20.034 -8.856,15.297C-8.873,15.052 -8.926,14.098 -8.912,13.632L-8.912,-4.558L-2.502,-4.558L-2.502,14.21C-2.502,14.54 -2.485,14.899 -2.441,15.181C-2.315,15.805 -1.772,17.012 0,17.012"
                    style="fill:rgb(41,55,149);fill-rule:nonzero;"></path>
                </g>
                <g transform="matrix(1,0,0,1,1600.67,72.4675)">
                  <path
                    d="M0,17.437C1.843,17.437 2.48,16.272 2.599,15.592C2.646,15.307 2.664,14.955 2.659,14.634L2.659,10.957L0.056,10.957L0.056,7.25L9.043,7.25L9.043,14.057C9.043,14.535 9.03,14.881 8.956,15.724C8.525,20.345 4.528,21.991 0.034,21.991C-4.472,21.991 -8.461,20.345 -8.892,15.724C-8.966,14.881 -8.987,14.535 -8.987,14.057L-8.987,3.383C-8.987,2.935 -8.918,2.131 -8.866,1.707C-8.313,-3.031 -4.472,-4.554 0.034,-4.554C4.536,-4.554 8.461,-3.04 8.93,1.707C9.017,2.514 8.986,3.383 8.986,3.383L8.986,4.223L2.594,4.223L2.594,2.8C2.599,2.813 2.585,2.205 2.511,1.847C2.403,1.282 1.911,-0.009 -0.021,-0.009C-1.868,-0.009 -2.408,1.209 -2.539,1.847C-2.621,2.177 -2.651,2.624 -2.651,3.04L-2.651,14.634C-2.651,14.955 -2.643,15.307 -2.581,15.592C-2.465,16.272 -1.83,17.437 0,17.437"
                    style="fill:rgb(41,55,149);fill-rule:nonzero;"></path>
                </g>
              </g>
            </g>
          </g>
        </svg></a
      >

      <nav class="hidden md:flex items-center space-x-6">
        {
          navLinks.map((link) => (
            <a
              href={link.href}
              target={link.external ? "_blank" : "_self"}
              class:list={[
                "hover:text-blue-500 transition",
                {
                  "bg-blue-600 text-white px-4 py-2 rounded-md hover:bg-blue-700 hover:text-white":
                    link.isButton,
                },
              ]}
            >
              {link.text}
            </a>
          ))
        }
      </nav>

      <button
        id="hamburger-button"
        class="md:hidden text-2xl text-gray-700 hover:text-blue-600"
      >
        <i class="fa-solid fa-bars"></i>
      </button>
    </div>
  </div>

  <div
    id="mobile-menu"
    class="hidden md:hidden bg-white border-t border-gray-200"
  >
    <nav class="flex flex-col">
      {
        navLinks.map((link) => (
          <a
            href={link.href}
            target={link.external ? "_blank" : "_self"}
            class="px-6 py-3 text-gray-700 hover:bg-blue-50 text-center"
          >
            {link.text}
          </a>
        ))
      }
    </nav>
  </div>
</header>

<script>
  const hamburgerButton = document.getElementById("hamburger-button");
  const mobileMenu = document.getElementById("mobile-menu");

  hamburgerButton.addEventListener("click", () => {
    // Toggle the 'hidden' class on the mobile menu
    mobileMenu.classList.toggle("hidden");

    // Optional: Change icon from bars to X and back
    const icon = hamburgerButton.querySelector("i");
    if (mobileMenu.classList.contains("hidden")) {
      icon.classList.remove("fa-xmark");
      icon.classList.add("fa-bars");
    } else {
      icon.classList.remove("fa-bars");
      icon.classList.add("fa-xmark");
    }
  });
</script>
